<div class='donations'>

  <div class='donation-controls'>
    <h4>Add Donation</h4>
    <div class='row'>
      <div class='col'>
        <button class='btn btn-primary' (click)='handleAdd(5)'>$5.00</button>
      </div>
      <div class='col'>
        <button class='btn btn-primary' (click)='handleAdd(10)'>$10.00</button>
      </div>
      <div class='col'>
        <button class='btn btn-primary' (click)='handleAdd(20)'>$20.00</button>
      </div>
      <div class='col'>
        <div class='input-group' style='width:200px'>
          <span class="input-group-btn">
            <button type='button' class='btn btn-primary' (click)='handleDonation($event)'>Add $</button>
          </span>
          <input type='text' class='form-control' [(ngModel)]='donation.amount' placeholder='amount' />
        </div>
      </div>
    </div>
  </div>

  <div class='donation-list' style='margin: 20px 0 10px'>
    <h4>Current Donations</h4>
    <div *ngIf='donations && donations.length' class='row'>
      <div *ngFor='let item of donations' class='col donation'>
        <div>{{item.amount | currency:'USD':true:1.2.2}} : {{item.name || '?'}}<span class='remove glyphicon glyphicon-remove' (click)='handleRemove(item)'></span></div>
      </div>
    </div>
    <div *ngIf='!donations || donations.length === 0' class='row'>
      <div class='col' style='line-height:40px'>none yet</div>
    </div>
  </div>

</div>