<div id='twitch-widget-config' class='container'>
  <div class='config-group'>
    <h4>Current Donations</h4>
    <div class='row'>
      <div class='col-xs-3'>
        <label>Total: {{goal.currentAmount | currency:'USD':true:1.2.2}} ({{(goal.currentAmount / goal.targetAmount) * 100}}%)</label>
      </div>
      <div class='col-xs-3'>
        <label>Today's goal: {{goal.targetAmount | currency:'USD':true:1.2.2}}</label>
      </div>
    </div>
    <h4>Donations</h4>
    <donations [(ngModel)]='goal.donations'></donations>
  </div>
  <div class='config-group'>
    <h3 class='ttl'>Stream Session</h3>
    <div class='row'>
      <div class='col form-group'>
        <label class='block'>Time Format</label>
        <select class='form-control' [(ngModel)]='timeFormat' (change)='handleTimeFormatChange($event)'>
          <option *ngFor='#opt of formats' [value]='opt'>{{opt}}</option>
        </select>
      </div>
      <div class='col form-group'>
        <label class='block'>time interval:</label>
        <select class='form-control' [(ngModel)]='timeInterval'>
          <option *ngFor='#opt of intervals' [value]='opt'>{{opt}}</option>
        </select>
      </div>
    </div>
    <div class='row'>
      <div class='col form-group time-picker'>
        <label for='startTime'>Start at</label>
        <timepicker [(ngModel)]='settings.startTime' [showMeridian]='isMeridian' [minuteStep]='timeInterval' justified='true'></timepicker>
      </div>
      <div class='col form-group time-picker'>
        <label for='endTime'>Stream for (hh/mm)</label>
        <duration [(ngModel)]='settings.endTime' [interval]='timeInterval' (valueChange)='handleEndTimeChange($event)'></duration>
      </div>
      <div class='col form-group time-picker'>
        <label for='maxTime'>Stream up to (hh/mm)</label>
        <duration [(ngModel)]='settings.maxTime' [interval]='timeInterval' (valueChange)='handleMaxTimeChange($event)'></duration>
      </div>
    </div>
  </div>
  <div class='config-group'>
    <h3 class='ttl'>Timeline</h3>
    <h4>Size</h4>
    <div class='row'>
      <div class='col-sm-3 form-group'>
        <label for='height'>Min Height</label>
        <input type='text' class='form-control' [(ngModel)]='settings.minHeight' />
      </div>
      <div class='col-sm-3 form-group'>
        <label for='height'>Max Height</label>
        <input type='text' class='form-control' [(ngModel)]='settings.maxHeight' />
      </div>
    </div>
    <h4>Colors</h4>
    <div class='row'>
      <div class='col-sm-3 form-group'>
        <label for='height'>Foreground</label>
        <input type='text' class='form-control' [(ngModel)]='settings.foregroundColor' />
      </div>
      <div class='col-sm-3 form-group'>
        <label for='height'>Background</label>
        <input type='text' class='form-control' [(ngModel)]='settings.backgroundColor' />
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3 form-group'>
        <label for='height'>Max</label>
        <input type='text' class='form-control' [(ngModel)]='settings.maxTimelineColor' />
      </div>
      <div class='col-sm-3 form-group'>
        <label for='height'>Committed</label>
        <input type='text' class='form-control' [(ngModel)]='settings.committedTimelineColor' />
      </div>
      <div class='col-sm-3 form-group'>
        <label for='height'>Elapsed</label>
        <input type='text' class='form-control' [(ngModel)]='settings.elapsedTimelineColor' />
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-12' style='overflow:hidden'>
      {{diagnostic}}
    </div>
  </div>
</div>
