<div [ngStyle]='getTimelineStyle()'>
  <div class='segments-wrap' [ngStyle]='getSegmentsWrapStyle()'>
    <div class='segment segment-elapsed'
      *ngIf='isStreaming'
      [ngStyle]='getElapsedStyle()'></div>
    <div class='segment segment-min'
      *ngIf='isStreaming'
      [ngStyle]='getMinStyle()'></div>
    <div class='segment segment-max'
      *ngIf='isStreaming'
      [ngStyle]='getMaxStyle()'></div>
    <div class='status'
      [ngStyle]='getStatusStyle()'>{{status}}</div>
  </div>
</div>