.segments-wrap {
  position: relative;
  width: 100%;
  border: 1px solid #222;
  box-sizing: border-box;
}

.segment {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  line-height: inherit;
  transition: width 1s;
}

.segment-elapsed {
  text-align: right;
  z-index: 30;
}

.segment-min {
  text-align: left;
  z-index: 20;

}

.segment-max {
  width: 100%;
  text-align: right;
  z-index: 10;
}

.status {
  position: relative;
  padding: 0 20px;
  white-space: nowrap;
  z-index: 100;
  transition: all 1s;
}