.timeline {
  position: relative;
  width: 100%;
}

.segments-wrap {
  position: relative;
  width: 100%;
  border: 1px solid #222;
  box-sizing: border-box;
}

.segment {
  float: left;
  height: 100%;
  line-height: inherit;
  transition: width 1s;

  .lbl {
    margin: 0 10px;
  }
}

.segment-elapsed {
  text-align: right;
}

.segment-min {
  text-align: left;
}

.segment-max {
  text-align: right;
}